[Unit]
Description=Flask App for Logging PUSH events
After=network.target

[Service]
ExecStart=/usr/bin/docker run --rm --network host lanirelad/push-event-logger
StandardOutput=journal
Restart=no

[Install]
WantedBy=multi-user.target